<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net452" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net462" />
  <package id="DnsClient" version="1.2.0" targetFramework="net45" />
  <package id="Fody" version="6.0.6" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>